* {
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 24px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.nav-container * {
    margin-left: 24px;
    margin-right: 24px;
}

.btn-avatar {
    border-style: none;
    background: none;
}

.btn-avatar *{
    width: 48px;
    height: 48px;
}