<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">

    <title>My Blog</title>
</head>
<body>
    <header>

        <button type="button">
            <img class="menu-icon" src="/static/icons/menu.png">
        </button>

        <p>HashNode</p>

        <nav class="nav-container">
            <a href="">My Feed</a>
            <a href="">Explore</a>
            <a href="">Bookmarks</a>
            <a href="">More</a>
        </nav>

        <button type="button">
            <img src="/static/icons/search.png">
        </button>

        <button class="btn-write">
            <img src="/static/icons/edit.svg">
            <span>Write</span>
        </button>

        <button type="button">
            <img src="/static/icons/bell.png">
        </button>

        <button type="button">
            <img src="/static/icons/avatar_128.png">
        </button>

    </header>

    <main>

        <div class="user-menu">

            <div class="grid-container">
                <img class="grid-item" src="/static/icons/avatar_128.png">
                <p class="grid-item">Item 1 (Row 1)</p>
                <p class="grid-item">Item 2 (Row 1)</p>
            </div>
            <hr>
            <div>
                <h3>Personal blog</h3>
                <p>thecodec8ter.hashnide.dev</p>
            </div>
            <hr>
            <div class="menu-item">
                <img src="/static/icons/github.png">
                <span>My drafts</span>
            </div>
            <div class="menu-item">
                <img src="/static/icons/github.png">
                <span>Account settings</span>
            </div>
            <div class="menu-item">
                <img src="/static/icons/github.png">
                <span>Manage your blogs</span>
            </div>
            <hr>
            <div class="menu-item">
                <img src="/static/icons/github.png">
                <span>Support and Feedback</span>
            </div>
            <div class="menu-item">
                <img src="/static/icons/github.png">
                <span>Log out</span>
            </div>
        </div>
    </main>
</body>
</html>