<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/signup}"} method="get">
            <label for="username"></label>
            <input id="username" type="text" name="username" required></input>
            <br>
            <label for="password"></label>
            <input id="password" type="password" name="password" required></input>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>