<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
    <div class="login-container">
        <div>
            <h2>Create Account</h2>
            <form method="post" action="">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Name">

                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="email" placeholder="Email">

                <i class="fa fa-phone icon"></i>
                <input class="input-field" type="text" placeholder="Password">

                <i class="fa fa-phone icon"></i>
                <input class="input-field" type="text" placeholder="Confirm Password">
            </form>

            <button type="submit">SIGN UP</button>
        </div>
    </div>
</body>
</html>