<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/prac.css">
    <title>Risala</title>
</head>
<body style="height: 100vh; ">

    <div style="display: none; width: 80vw; height: 80vh;
    background: linear-gradient(to bottom right, #001233, #001845, #211565, #25177a);">

        <div style="width: 60vw; height: 60vh;
        background: none">

            <p style="font-weight: 800; font-size: 36px">
                BACKEND DEVELOPER
            </p>

            <p style="font-weight: 300; font-size: 24px; text-align: center;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
            </p>

            <p style="font-weight: 800; font-size: 36px">
                SKILLS
            </p>

            <div>
                Java
            </div>

        </div>

    </div>


    <div class="lightning-streak">

    </div>

    <script src="/static/js/prac.js"></script>

</body>
</html>