<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Title</title>
</head>
<body>
    <div class="card">
        <div class="left-side">
            <h2>Welcome Back</h2>
            <p>To keep you connected, please login with your personal info</p>
            <button type="button" class="">Log in</button>
        </div>
        <div class="right-side">
            <h2 class="form-header">Create Account</h2>
            <form id="signupForm" th:action="@{/user/registration}" method="post">

                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Confirm Password">

                <button type="submit" class="btn-signup">SIGN UP</button>

            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/signup.js"></script>

</body>
</html>