<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/signup.css">
    <title>Title</title>
</head>
<body>
    <div class="card">

        <div class="left-side">
            <h2>Welcome Back</h2>

            <p class="txt-login">To keep you connected, please login with your personal info</p>

            <button type="button" class="btn-login">LOG IN</button>

        </div>

        <div class="right-side">

            <h2 class="txt-signup-header">Create Account</h2>

            <div class="icon-container">

                <img class="icon" src="/static/icons/facebook.png">

                <img class="icon" src="/static/icons/google-plus.png">

                <img class="icon" src="/static/icons/github.png">

            </div>

            <p class="txt-signup-desc">or sign up with email address</ptxt-signup-desc>

            <form id="signupForm" th:method="post" th:action="@{/user/registration}" th:object="${userDto}">

                <input type="text" placeholder="Enter your full name" name="full_name" th:field="*{fullName}">

                <input type="email" placeholder="name@email.com" name="email" th:field="*{email}">

                <input type="password" placeholder="Create a password" name="password" th:field="*{password}">

                <button type="submit" class="btn-signup">SIGN UP</button>

            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:src="@{/js/signup.js}"></script>
</body>
</html>