<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Title</title>
</head>
<body>
    <div class="card">
        <div class="left-side">
            <h2>Welcome Back</h2>
            <p>To keep you connected, please login with your personal info</p>
            <button type="button" class="">Log in</button>
        </div>
        <div class="right-side">
            <h2 class="form-header">Create Account</h2>

            <form id="signupForm">

                <input type="text" placeholder="Enter your full name" name="full_name">
                <input type="email" placeholder="name@email.com" name="email">
                <input type="password" placeholder="Create a password" name="password">

                <button type="submit" class="btn-signup">SIGN UP</button>

            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:src="@{/js/signup.js}"></script>

</body>
</html>